.MenuPage_Container {
    display: flex;
    flex-direction: row;
}

.MenuPage_Menu_Wrapper {
    display: flex;
    flex-direction: column;

    width : 150px;
    height: 1920px;
    border-right : 1px solid gray;

    align-items: center;
    background: burlywood;
}

.MenuPage_Menu {
    width: 200px;
    height: 200px;

    
    font-family: Roboto;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    cursor: pointer;
	white-space: pre;
	text-decoration: none;
	color: inherit;
	padding-bottom: 0.25rem;

    align-items: center;
    justify-content: center;
    text-align: center;

    margin-top : 70px;

	&:hover {
		color: white;
        font-size : 52px;
	}
}

.MenuPage_Items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    border-bottom : 1px solid gray;
    height : 1700px;
    overflow-y: auto;
    align-items: center;

    background-color: rgb(244, 244, 244);
}

.MenuPage_img {
    width: 250px;
    height : 350px;
    border-radius: 20px;
    box-shadow: inset;
    border: 1px solid lightgray;
}
.MenuPage_item {
    display: flex;
    flex-direction: column;
    width : 280px;
    height : 383px;
}

