.Menu_Container {
    width : 930px;
    height : 1700px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;;
    border-bottom: 4px solid black;

    overflow-y: auto;
    
    align-items: center;

}

.Menu_item {
    width : 280px;
    height: 550px;

    font-family: Roboto;
    font-size: 25px;
    font-weight: 600;

    margin-left : 20px;

    
    .img {
        width:300px;
        height: 400px;
        filter: drop-shadow(3px 3px 3px gray);
    }

    .text {
        text-align: right;
        padding-top : 20px;
        padding-right : 20px;
    }
}